@charset 'UTF-8';

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

html {
  font-size: calc(1em * .625);
}

body {
  font-family: 'Jost','Noto Sans JP', cursive,'メイリオ', Meiryo, sans-serif;
  font-size: 1.6em;
  font-weight: 300;
  line-height: 1.75;
  letter-spacing: .05em;
  word-break: break-all;
  color: #132041;
  -webkit-text-size-adjust: 100%;
}

address {
  font-style: normal;
}

main {
  display: block;
}

a {
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  opacity: 1;
  color: #48f;
}

a:hover {
  opacity: .6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

pre {
  overflow: auto;
  margin-top: 0;
  margin-bottom: 1rem;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  border-width: 0;
  border-color: transparent;
}

select {
  border-width: 0;
  border-color: transparent;
}

textarea {
  resize: vertical;
  border-width: 0;
  border-color: transparent;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  outline: none;
  background: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.pc {
  display: block !important;
}

.sp {
  display: none !important;
}

.l-breadcrumb {
  width: 100%;
  margin: 0 auto;
  padding: 2.8rem 0;
  background: #132041;
}

.l-breadcrumb__items {
  font-size: 1.4rem;
  font-weight: 700;
  width: 1000px;
  margin: auto;
  color: white;
}

.l-breadcrumb__items a {
  text-decoration: none;
  color: white;
}

.l-footer {
  padding: 7rem 0;
  color: white;
  background: #132041;
}

.l-footerItem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.l-footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  letter-spacing: .2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

.l-footer__logo--ja {
  font-size: 3rem;
  font-weight: 700;
}

.l-footer__logo--en {
  font-size: 1.8rem;
  font-weight: 700;
}

.l-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-footer__social span:nth-child(1) {
  margin-right: 2rem;
}

.l-footer__social::after {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 10px;
  content: ' ';
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.l-footerNav {
  display: block;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.l-footerCopy {
  width: 1000px;
  margin: 0 auto;
  padding: 7rem 0 2rem;
}

.l-footerCopy__item {
  font-size: 1.2rem;
  display: block;
  text-align: right;
  color: white;
}

.pageTop {
  position: absolute;
  z-index: 3;
  right: 8%;
  bottom: 20rem;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: right bottom;
  -ms-transform-origin: right bottom;
  transform-origin: right bottom;
}

.pageTop > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: white;
  text-shadow: 0 0 5px #111;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.pageTop > a::before {
  display: block;
  width: 8px;
  height: 8px;
  margin-right: .5em;
  content: '';
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  border-top: 2px solid white;
  border-left: 2px solid white;
}

.pageTop > a:hover {
  opacity: .75;
}

.l-header {
  position: relative;
  z-index: 3;
  top: 0;
  width: 100%;
  height: 75px;
  background: #132041;
}

.l-header__wrap {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin: auto;
  padding: 0;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-header__wrap.is-scroll {
  top: 0;
  background: rgba(255, 255, 255, .6);
}

.l-header__wrap.is-scroll .l-navHeader__item > a {
  color: #111;
}

.l-header__logo {
  position: absolute;
  top: 3rem;
  left: 10%;
}

.l-header__logo.page {
  position: relative;
  z-index: 2;
  top: 0;
  left: 0;
  width: 20%;
  padding-left: 2rem;
}

.l-header__logo > a {
  z-index: 2;
  height: 75px;
  text-decoration: none;
  color: #111;
}

.l-header__logo > a.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-header__logo > a img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
  object-fit: contain;
}

.l-header__logo--image {
  width: 154px;
  height: 154px;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.l-header__logo--image.page {
  width: 60px;
  height: 60px;
  margin-right: 2rem;
  -webkit-transition: .5s all;
  -o-transition: .5s all;
  transition: .5s all;
}

.l-header__siteName {
  text-align: center;
}

.l-header__siteName span {
  display: block;
  letter-spacing: .2rem;
  color: white;
}

.l-header__siteName--ja {
  font-size: 3rem;
}

.l-header__siteName--ja.page {
  font-size: 2.4rem;
}

.l-header__siteName--en {
  font-size: 1.8rem;
}

.l-header__siteName--en.page {
  font-size: 1.4rem;
}

.l-header__menu {
  font-weight: 700;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 60%;
  flex: 0 0 60%;
}

.l-main__kv {
  position: relative;
  width: 100%;
  height: 540px;
  padding-top: 11.5rem;
  background-size: cover;
}

.l-main__kv--items {
  position: relative;
  width: 100%;
  height: 540px;
  background: url('../img/img_globalItems_kv.jpg') top center no-repeat;
  background-size: cover;
}

.l-main__kv--information {
  background: url('../img/img_globalInformation_kv.jpg') center center no-repeat;
  background-size: cover;
}

.l-navHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-navHeader__item {
  text-align: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
}

.l-navHeader__item--en {
  font-weight: 300;
  letter-spacing: .2rem;
}

.l-navHeader__item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-decoration: none;
  color: white;
}

.l-navHeader__item > a:hover {
  opacity: .8;
}

.l-navHeader__item--contact {
  font-size: 1.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 75px;
  letter-spacing: .2rem;
  background: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.l-navHeader__item--contact span:nth-child(1) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
}

.l-navHeader__item--contact > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #132041;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-navHeader__item--contact > a:hover {
  opacity: .8;
}

.l-navHeader__item--ja {
  font-size: 1.4rem;
  font-weight: 700;
  color: #132041;
}

.l-navHeader__btn {
  margin-left: 50px;
  padding: 1em;
  text-decoration: none;
  color: white;
  background: #ff6c00;
}

.l-navFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.l-navFooter__items {
  line-height: 3;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
}

.l-navFooter__item > a {
  text-decoration: none;
  color: white;
}

.l-navFooter__item--ja.cat01 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-navFooter__item--ja.cat01::before {
  display: block;
  width: 25px;
  height: 1px;
  margin-right: 1rem;
  content: '';
  background: white;
}

.l-navFooter__subitem {
  margin-left: 3rem;
}

.l-navFooter__subitem > a {
  text-decoration: none;
  color: white;
}

.js-overlay {
  /*オーバーレイのCSS*/
  position: fixed;
  z-index: 10;
  top: 0;
  display: none;
  width: 100%;
  height: 100vh;
  color: #fff;
  background: #8598b4;
}

.overlay .l-header__menu {
  background: #fff;
}

.overlay.is-active {
  display: block;
}

.overlayNav__items {
  font-size: 1.6rem;
  margin-bottom: 3em;
}

.overlayNav__item {
  font-weight: 700;
  line-height: 4;
  border-bottom: 2px dotted white;
}

.overlayNav__item:nth-child(1) {
  border-top: 2px dotted white;
}

.overlayNav__item > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: white;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlayNav__item > a::after {
  display: block;
  width: 12px;
  height: 12px;
  margin: 0 10px;
  content: ' ';
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid white;
  border-right: 2px solid white;
}

.overlayNav__item--en {
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlayNav__item--en span {
  margin-left: 1rem;
}

.overlayNav__item--ja {
  font-size: 1.4rem;
  margin-left: 1rem;
}

.overlayNav__subitem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 2rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlayNav__subitem::before {
  display: block;
  width: 5px;
  height: 2px;
  margin-right: 1rem;
  content: ' ';
  background: white;
}

.overlayNav__subitem > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: white;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlaySubNav__items {
  line-height: 2;
  margin: 2rem auto;
}

.overlaySubNav__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlaySubNav__item::before {
  display: block;
  width: 13px;
  height: 16px;
  content: ' ';
  background: url('../img/img_iconArrow02.svg') center center no-repeat;
}

.overlaySubNav__item > a {
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
}

.overlayButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlayButton__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  margin-right: 2rem;
  border-radius: 1rem;
  background: #132041;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlayButton__line > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlayButton__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80px;
  height: 80px;
  margin-right: 2rem;
  border: 1px solid #132041;
  border-radius: 1rem;
  background: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlayButton__contact > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlay__item {
  padding: 12rem 3rem 5rem;
}

.overlay__item:nth-last-child(1) {
  padding: 2em 1em 0;
}

.overlay__btn {
  width: 94%;
  height: 44px;
  margin: 0 auto 16px;
  text-align: center;
}

.overlay__btn > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  text-decoration: none;
  color: #fff;
  background-color: #8598b4;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.overlay__btn .svg-inline--fa {
  margin-right: 8px;
}

.overlay__btn--reserve > a {
  color: #fff;
  background-color: #e7e9ec;
}

.overlay__btn--close > .close {
  display: inline-block;
  margin: auto;
  padding: .5em 2em;
  color: white;
  border: 1px solid white;
}

.overlay__sociallists {
  font-size: 3.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.overlay .homeContact__item--social {
  background-color: #132041;
}

.l-sidebar {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 28%;
  flex: 0 0 28%;
}

.l-sidebar__items {
  list-style: none;
}

.l-sidebar__item > a {
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 280px;
  height: 50px;
  margin-bottom: 1rem;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
  text-align: center;
  text-decoration: none;
  color: #111;
  border: 2px solid #111;
  border-radius: 8px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.l-sidebar__item > a:hover {
  color: white;
  border-radius: 8px;
  background: #111;
}

.l-wrap {
  width: 1000px;
  margin: auto;
}

.c-button {
  font-size: 1.4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  letter-spacing: .1em;
  color: white;
  border: 1px solid white;
  border-radius: 2em;
  background: #132041;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-button span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-button span::after {
  position: absolute;
  top: 50%;
  right: 1%;
  width: 8px;
  height: 8px;
  content: '';
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transform: rotate(45deg) translateY(-50%);
  -ms-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  opacity: 0;
  border-top: 1px solid white;
  border-right: 1px solid white;
  will-change: right, opacity;
}

.c-button:hover {
  opacity: 1;
}

.c-button:hover span {
  -webkit-transform: translate(-1em, 0);
  -ms-transform: translate(-1em, 0);
  transform: translate(-1em, 0);
}

.c-button:hover span::after {
  right: -3rem;
  opacity: 1;
}

.c-button__secondary {
  font-size: 1.4rem;
  font-weight: 700;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5em;
  color: #111;
  border: 2px solid #111;
  background: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-button__secondary span {
  position: relative;
  display: inline-block;
  padding-top: .5rem;
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.c-button__secondary span::after {
  position: absolute;
  top: 50%;
  right: 0;
  width: 8px;
  height: 8px;
  content: '';
  -webkit-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transform: rotate(45deg) translateY(-50%);
  -ms-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  opacity: 0;
  border-top: 1px solid #111;
  border-right: 1px solid #111;
  will-change: right, opacity;
}

.c-button__secondary:hover {
  opacity: 1;
}

.c-button__secondary:hover span {
  -webkit-transform: translate(-1em, 0);
  -ms-transform: translate(-1em, 0);
  transform: translate(-1em, 0);
}

.c-button__secondary:hover span::after {
  right: -3rem;
  opacity: 1;
}

.c-button__arrow {
  position: relative;
}

.c-button__arrow::after {
  font-family: 'Font Awesome 5 Solid', sans-serif;
  display: none;
  content: '\f30b';
  color: #fff;
}

.c-button__arrow::before {
  position: absolute;
  right: 16px;
  width: 40px;
  height: 40px;
  content: '';
  border: 2px solid #fff;
  border-radius: 2px;
}

.c-button__arrow .fa-long-arrow-alt-right {
  position: absolute;
  right: 28px;
}

.c-buttonCta {
  position: relative;
  z-index: 3;
}

.c-buttonCta__line {
  position: fixed;
  z-index: 4;
  top: 70%;
  right: -280px;
  width: 280px;
  height: 70px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.c-buttonCta__line.is_show {
  -webkit-transform: translate(-70px, 0);
  -ms-transform: translate(-70px, 0);
  transform: translate(-70px, 0);
}

.c-buttonCta__line:hover {
  -webkit-transform: translate(-210px, 0);
  -ms-transform: translate(-210px, 0);
  transform: translate(-210px, 0);
}

.c-buttonCta__line > a {
  line-height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 10px 0 0 10px;
  background: #06c755;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-buttonCta__line > a .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-buttonCta__line > a .slideIn {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
  padding: 0;
}

.c-buttonCta__contact {
  position: fixed;
  z-index: 4;
  top: 80%;
  right: -280px;
  width: 280px;
  height: 70px;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.c-buttonCta__contact.is_show {
  -webkit-transform: translate(-70px, 0);
  -ms-transform: translate(-70px, 0);
  transform: translate(-70px, 0);
}

.c-buttonCta__contact:hover {
  -webkit-transform: translate(-210px, 0);
  -ms-transform: translate(-210px, 0);
  transform: translate(-210px, 0);
}

.c-buttonCta__contact > a {
  line-height: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  padding: 2rem 1rem;
  text-align: center;
  text-decoration: none;
  color: white;
  border-radius: 10px 0 0 10px;
  background: #8598b4;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-buttonCta__contact > a .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60px;
  height: auto;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-buttonCta__contact > a .slideIn {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
  padding: 0;
}

.c-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 8px;
  padding: 8px;
}

.c-card__pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 140px;
  margin-right: 16px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 140px;
  flex: 0 0 140px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-card__meta {
  font-size: 14px;
}

.c-card__meta--date {
  margin-right: 10px;
}

.c-card__meta--cat {
  display: inline-block;
  margin-right: 10px;
  padding: 0 3rem;
  text-align: center;
  color: white;
  background-color: #8598b4;
}

.c-card__meta--cat > a {
  text-decoration: none;
  color: white;
}

.c-card__meta--tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-card__meta--tag > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1rem;
  text-decoration: none;
  color: #132041;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-card__meta--tag > a::before {
  margin-right: .2rem;
  content: '#';
}

.c-card__btn {
  text-align: right;
}

.c-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid #919191;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-form__item {
  font-size: 1.6rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
  margin-bottom: 1px;
  padding: 3rem;
  letter-spacing: 0;
  color: #132041;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 300px;
  flex: 0 0 300px;
}

.c-form__icon {
  font-size: 1.2rem;
  margin-left: 1rem;
  padding: 10px 10px 5px;
  color: white;
  border-radius: 2rem;
  background: #c4c4c4;
}

.c-form__icon--req {
  font-size: 1.2rem;
  margin-left: 1rem;
  padding: 10px 10px 5px;
  color: white;
  border-radius: 2rem;
  background: #8598b4;
}

.c-form__text .wpcf7-select {
  margin-right: 1rem;
  padding: 1rem 2rem;
  border: 2px solid #888;
  border-radius: 4px;
}

.c-form__email {
  padding: 16px 0;
}

.c-form__radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-form__radio .wpcf7-list-item {
  margin: 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.c-form__radio .wpcf7-list-item > label {
  display: block;
}

.c-form__radio .wpcf7-list-item > label > input[type='checkbox'] {
  display: none;
}

.c-form__radio .wpcf7-list-item > label > input[type='checkbox'] + span {
  position: relative;
  padding-right: 10px;
  padding-left: 25px;
  letter-spacing: 0;
}

.c-form__radio .wpcf7-list-item > label > input[type='checkbox'] + span::before {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  content: '';
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 1px solid #132041;
  border-radius: 4px;
}

.c-form__radio .wpcf7-list-item > label > input[type='checkbox']:checked + span::before {
  background: #132041;
}

.c-form__radio .wpcf7-list-item > label > input[type='checkbox']:checked + span::after {
  position: absolute;
  top: 50%;
  left: 5px;
  display: block;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16px;
  height: 7px;
  margin-top: -2px;
  content: '';
  -webkit-transform: rotate(-45deg) translateY(-50%);
  -ms-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(-45deg) translateY(-50%);
  border-bottom: 2px solid white;
  border-left: 2px solid white;
}

.c-form__address {
  padding: 16px 0;
}

.c-form__textarea {
  width: 520px;
  height: 105px;
  margin: 16px 0 8px;
  padding: 16px 8px;
  border: 2px solid #888;
  border-radius: 4px;
}

.c-form__bottom {
  margin-bottom: 32px;
  text-align: center;
}

.c-form__button {
  position: relative;
  width: 250px;
  height: 60px;
  margin: auto;
}

.c-form__button::after {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 8px;
  height: 8px;
  content: '';
  -webkit-transform: rotate(45deg) translateY(-50%);
  -ms-transform: rotate(45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
  opacity: 1;
  border-top: 1px solid white;
  border-right: 1px solid white;
}

.c-form__button .c-button {
  position: relative;
  color: white;
  border: none;
  background: #132041;
}

.c-form__button .c-button:hover {
  opacity: .7;
}

.c-form__privacy {
  margin-bottom: 5rem;
}

.c-form__privacy .privacy__title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  text-align: center;
  border-bottom: 2px solid #111;
}

.c-form__privacy .privacy__desc {
  margin-bottom: 2rem;
  text-align: center;
}

.c-form__privacy .privacy__items {
  overflow-y: scroll;
  height: 200px;
  padding: 2rem;
  border: 2px solid #888;
}

.c-form__privacy .privacy__item {
  margin-bottom: 2rem;
}

.c-form__privacy .privacy__item--title {
  font-weight: 700;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed #919191;
}

.c-form__privacy .privacy__item--detial {
  font-family: 'Noto Sans JP';
  font-size: 1.4rem;
  line-height: 2;
  padding: 0 1rem;
}

.c-form__checkbox {
  margin-bottom: 5rem;
  text-align: center;
}

.c-form__submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  height: 60px;
  margin: auto;
  cursor: pointer;
  color: white;
  background: #132041;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.acceptance {
  margin: 5rem auto;
  text-align: center;
}

.wpcf7-form-control-wrap {
  position: inherit;
}

div.wpcf7 .ajax-loader {
  display: block;
  margin: 8px auto;
}

input.wpcf7-text {
  width: 520px;
  height: 40px;
  padding-left: 1rem;
  border: 2px solid #888;
  border-radius: 4px;
}

.grecaptcha-badge {
  opacity: 0;
}

.c-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  text-decoration: none;
  color: #00497c;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-list__item {
  padding: 16px 0;
}

.c-list__item:nth-child(1) {
  margin-right: 3rem;
}

.c-list__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 530px;
  margin: auto;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-list__button span .c-form__prev {
  font-size: 1.4rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  letter-spacing: .5em;
  color: #e7e9ec;
  border: 1px solid #e7e9ec;
  background: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 16px;
  padding: 0 85px 16px;
  border-bottom: 1px dotted #111;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.c-menu__pic {
  max-width: 110px;
  margin: 0 16px 0 0;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 110px;
  flex: 0 0 110px;
}

.c-menu__pic img {
  display: block;
}

.c-menu__caption {
  font-size: 1.8rem;
  max-width: 584px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 584px;
  flex: 0 0 584px;
}

.c-menu__caption.noimage {
  max-width: 704px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 704px;
  flex: 0 0 704px;
}

.c-menu__ttl {
  font-size: 2.4rem;
}

.c-menu__price {
  font-size: 2.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 120px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 120px;
  flex: 0 0 120px;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.c-meta {
  font-family: 'Noto Sans JP';
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 3rem;
  padding: 1rem;
  color: #111;
  background: #dfdfdf;
}

.c-meta__items {
  font-size: 1.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 1rem;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.c-meta__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 16px 0 0;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}

.c-meta__ttl {
  margin: 0;
}

.c-meta__desc {
  margin: 0;
}

.c-press__item {
  text-align: center;
}

.c-press__link {
  display: block;
  width: 100%;
  height: 100%;
}

.c-press__link:link {
  font-weight: 500;
  text-decoration: none;
  color: #111;
}

.c-press__pic {
  margin: 0 auto 16px;
}

.c-share__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-share__item {
  display: block;
  margin: 0 4px 4px 0;
}

.c-share__item > a {
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 28px;
  text-decoration: none;
  color: #fff;
  border-radius: 4px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.c-share__item--twitter > a {
  background-color: #55acee;
}

.c-share__item--twitter > a:hover {
  background-color: #2795e9;
}

.c-share__item--line > a {
  font-size: 1.3rem;
  background-color: #00c300;
}

.c-share__item--line > a:hover {
  background-color: #009000;
}

.l-socialFooter__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.l-socialFooter__item {
  font-size: 3.4rem;
  color: white;
}

.l-socialFooter__item:nth-child(1) {
  margin-right: 1em;
}

.c-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.c-table__ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 16px;
  padding: 8px;
  text-align: center;
  color: #fff;
  border-radius: 8px;
  background-color: #444;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.c-table__desc {
  margin: 0 0 16px;
  padding: 8px 16px;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
}

.p-archive {
  margin: 0 auto;
}

.p-archive__item {
  margin-bottom: 5rem;
}

#comments footer {
  font-size: 1.3rem;
  margin: 0;
  color: #000;
  border-style: none;
  background: none;
}

#comments footer a {
  color: #000;
}

#comments footer div {
  display: inline;
}

#comments ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#comments article {
  margin-bottom: 10px;
  padding: 10px 0 20px;
  border: dashed 1px #ccc;
}

#comments .comment-content {
  margin-left: 30px;
}

/* コメント投稿フォーム */

#respond p {
  font-size: 1.2rem;
  margin-top: 0;
  margin-bottom: 16px;
}

#respond label {
  font-size: 1.3rem;
}

#respond input,
#respond textarea {
  width: 100%;
  padding: 5px;
}

#respond input[type='submit'] {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  border: 2px solid #a6ba00;
  background-color: #a6ba00;
  -webkit-appearance: none;
}

#respond input[type='submit']:hover {
  background-color: #788700;
}

#respond .required {
  color: #f00;
}

.comment-form-cookies-consent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.comment-form-cookies-consent input[type='checkbox'] {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 16px;
  flex: 0 0 16px;
}

.comment-form-url {
  display: none;
}

.p-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.p-page {
  padding: 12rem 0;
}

.p-page__heading {
  position: relative;
  width: 1000px;
  height: 500px;
  margin: 0 auto;
}

.p-page__title {
  position: absolute;
  top: -2.5rem;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 400px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: left bottom 0;
  -ms-transform-origin: left bottom 0;
  transform-origin: left bottom 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.p-page__title::before {
  display: block;
  width: 200px;
  height: 1px;
  margin-right: 1rem;
  content: ' ';
  background: #132041;
}

.p-page__title--en {
  font-size: 1.2rem;
  font-weight: 700;
}

.p-page__wrap {
  padding: 12rem 0 0;
}

.p-page__copy {
  font-size: 3.2rem;
  position: relative;
  width: 800px;
  margin: 0 auto 5rem;
}

.p-page__copy span {
  display: block;
  margin: 0 auto;
  padding: 3rem;
  text-align: center;
}

.p-page__copy::before,
.p-page__copy::after {
  position: absolute;
  width: 30px;
  height: 30px;
  content: '';
}

.p-page__copy::before {
  top: 0;
  left: 0;
  border-top: solid 2px #132041;
  border-left: solid 2px #132041;
}

.p-page__copy::after {
  right: 0;
  bottom: 0;
  border-right: solid 2px #132041;
  border-bottom: solid 2px #132041;
}

.p-page__desc {
  width: 800px;
  margin: 0 auto;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  list-style: none;
  color: #00497c;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pagination > li {
  margin: 0 .5em;
}

.pagination > li > a {
  display: inline-block;
  padding: .2em .5em;
  -webkit-transition-duration: .3s;
  -o-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  text-decoration: none;
  color: #00497c;
  border: 1px solid #8598b4;
}

.pagination > li > a:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.pagination > li.current > a {
  color: white;
  border: 1px solid #e7e9ec;
  background: #e7e9ec;
}

.pagination > li.first > a,
.pagination > li.last > a {
  color: white;
  background: #8598b4;
}

.p-section {
  width: 1000px;
  margin: 0 auto 128px;
}

.p-sectionContact {
  padding: 7rem 0;
  background: #e7e9ec;
}

.p-sectionContact__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.p-sectionContact__items {
  padding: 2rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
}

.p-sectionContact__items:nth-child(1) {
  border-right: 1px solid #132041;
}

.p-sectionContact__heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 3rem;
}

.p-sectionContact__heading--en {
  font-size: 4.8rem;
}

.p-sectionContact__heading--ja {
  font-size: 1.2rem;
}

.p-sectionContact__desc {
  font-size: 1.2rem;
  margin-bottom: 3rem;
}

.p-sectionContact__summary span {
  display: block;
}

.p-sectionContact__summary span:nth-child(1) {
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
}

.p-sectionContact__summary span:nth-last-child(1) {
  font-size: 1.2rem;
}

.p-sectionContact__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.p-sectionContact__item:nth-child(1) {
  padding: 3rem 3rem 5rem 2rem;
  border-bottom: 1px solid #132041;
}

.p-sectionContact__item:nth-child(1) .p-sectionContact__icon {
  width: 58px;
  height: 47px;
}

.p-sectionContact__item:nth-child(1)::after {
  display: inline-block;
  width: 8px;
  height: 8px;
  margin: 0 10px;
  content: ' ';
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-top: 2px solid #00497c;
  border-right: 2px solid #00497c;
}

.p-sectionContact__item:nth-last-child(1) {
  padding: 5rem 3rem 3rem 2rem;
}

.p-sectionContact__item span {
  display: block;
}

.p-sectionContact__item span:nth-last-child(1) {
  font-size: 4.8rem;
}

.p-sectionContact__icon {
  margin-right: 2rem;
}

.p-sectionContact__icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.p-single {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 0 0 12rem;
}

.p-single__article {
  margin-bottom: 32px;
}

.p-single__heading {
  position: absolute;
  top: 50%;
  left: 20%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.p-single__heading--en {
  font-size: 1.4rem;
  font-weight: 700;
}

.p-single__heading--ja {
  font-size: 3.6rem;
  font-weight: 700;
}

.p-single__pic {
  margin-right: 2rem;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

.p-single__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.p-single__image {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

.p-singleItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin: 0 auto;
  padding: 12rem 0;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.p-singleItems__photo {
  position: relative;
  width: 46%;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 46%;
  flex: 0 0 46%;
}

.p-singleItems__photo .js-slide.slick-slider {
  margin-bottom: 3rem;
}

.p-singleItems__photo .js-slide.slick-slider img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.p-singleItems__photo .thumbs-dots {
  margin: 0;
}

.p-singleItems__photo .thumbs-dots .thumbs_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.p-singleItems__photo .thumbs-dots .thumbs_list li {
  display: block;
  width: 80px;
  height: 80px;
  margin-right: 1%;
  margin-bottom: 1%;
  cursor: pointer;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;
  opacity: .6;
  background-size: cover;
}

.p-singleItems__photo .thumbs-dots .thumbs_list li.slick-active {
  opacity: 1;
}

.p-singleItems__content {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 48%;
  flex: 0 0 48%;
}

.p-singleItems__heading {
  font-size: 2rem;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 2rem;
}

.p-singleItems__heading::after {
  width: 100px;
  height: 3px;
  content: ' ';
  background: #132041;
}

.p-singleItems__comment {
  font-weight: 700;
  margin-bottom: 5rem;
}

.p-singleItems__price {
  font-size: 2rem;
  font-weight: 700;
  text-align: right;
}

.p-singleItems__price span {
  font-size: 3.6rem;
  color: #8598b4;
}

.previous_next_post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2em;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.previous_post,
.list_post,
.next_post {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 30%;
  flex: 0 0 30%;
}

.list_post > a {
  padding: .5em 0;
}

.list_post > a:hover {
  opacity: .8;
}

.next_post {
  text-align: right;
}

.u-heading {
  line-height: 1;
  position: relative;
  width: 500px;
  height: 100%;
  margin: auto;
  color: white;
  background-color: rgba(255, 255, 255, .8);
}

.u-heading__title {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 5rem;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #111;
}

.u-heading__title--icon {
  margin-bottom: 3rem;
  text-align: center;
}

.u-heading__title--en {
  font-size: 4.8rem;
  font-weight: 300;
  text-align: center;
}

.u-heading__title--ja {
  font-size: 1.4rem;
  text-align: center;
}

.u-mb-20 {
  margin-bottom: 20px;
}

@media screen and (max-width: 1024px) {
  .l-wrap {
    width: 100%;
    margin: auto;
  }
}

@media screen and (max-width: 768px) {
  .pc {
    display: none !important;
  }

  .sp {
    display: block !important;
  }

  .l-breadcrumb {
    width: 100%;
  }

  .l-breadcrumb__items {
    width: 96%;
    margin: auto;
  }

  .l-footer {
    padding: 5rem 0 0;
  }

  .l-footerItem {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 90%;
  }

  .l-footer__logo {
    margin-bottom: 5rem;
  }

  .l-footerCopy {
    width: 100%;
  }

  .l-footer__social {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .pageTop {
    right: 10%;
    bottom: 5rem;
  }

  .pageTop > a:hover {
    opacity: 1;
  }

  .l-header {
    z-index: 12;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin: auto;
    padding: 0;
    background: white;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .l-header__wrap {
    position: fixed;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 80px;
    margin: 0;
    padding-right: 1rem;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .l-header__wrap.is-scroll {
    top: 0;
  }

  .l-header__logo {
    position: relative;
    z-index: 2;
    top: 0;
    left: 0;
    width: 20%;
    width: 80%;
    padding-left: 2rem;
    background: #132041;
  }

  .l-header__logo > a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .l-header__logo--image {
    width: 50px;
    height: 50px;
    margin-right: 2rem;
  }

  .l-header__logo.page {
    width: 80%;
    padding-left: 2rem;
  }

  .l-header__siteName--ja {
    font-size: 2rem;
  }

  .l-header__siteName--ja.page {
    font-size: 2rem;
  }

  .l-header__siteName--en {
    font-size: 1rem;
  }

  .l-header__siteName--en.page {
    font-size: 1rem;
  }

  .l-header__menu {
    position: relative;
    display: block;
    width: 44px;
    height: 44px;
    margin-right: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 10%;
    flex: 0 0 10%;
  }

  .l-header__button {
    position: absolute;
    z-index: 15;
    top: 9px;
    right: 1rem;
    width: 30px;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    background-color: transparent;
  }

  .l-header__button span {
    display: block;
    width: 30px;
    height: 2px;
    background-color: #111;
  }

  .l-header__button::before {
    position: absolute;
    top: -10px;
    right: 0;
    width: 30px;
    height: 2px;
    content: '';
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    background: #111;
  }

  .l-header__button::after {
    position: absolute;
    right: 0;
    bottom: -10px;
    width: 30px;
    height: 2px;
    content: ' ';
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    background: #111;
  }

  .l-header .is-active {
    background: transparent;
  }

  .l-header .is-active span {
    background: transparent;
  }

  .l-header .is-active::before {
    top: 0;
    right: 0;
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
  }

  .l-header .is-active::after {
    right: 0;
    bottom: 0;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  .l-main__kv {
    top: 0;
    height: 440px;
    padding-top: 8rem;
    word-break: normal;
    background-size: cover;
  }

  .l-navHeader {
    display: none;
  }

  .l-navFooter {
    width: 100%;
    margin: 0 auto;
    padding: 0;
  }

  .l-navFooter__items {
    font-size: 1.4rem;
    line-height: 3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }

  .l-navFooter__items:nth-child(1) .l-navFooter__subitem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .l-navFooter__item {
    padding-left: 1rem;
  }

  .c-buttonCta__line {
    top: 65%;
  }

  .c-form {
    font-size: 1.4rem;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 96%;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .c-form__item {
    font-size: 1.4rem;
    margin-bottom: .5rem;
    padding: 0;
    background: white;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }

  .c-form__radio {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .c-form__radio .wpcf7-checkbox {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .c-form .wpcf7-not-valid-tip {
    position: absolute;
    top: 0;
    right: 22%;
  }

  .c-form input.wpcf7-text {
    width: 100%;
    height: 45px;
  }

  .c-form__textarea .wpcf7-textarea {
    width: 100%;
    height: 90px;
  }

  .c-form__privacy {
    width: 85%;
    margin: 0 auto 2rem;
  }

  .c-form__privacy .privacy__title {
    font-size: 1.6rem;
  }

  .c-form__privacy .privacy__desc {
    font-size: 1.4rem;
  }

  .c-form__privacy .privacy__items {
    height: 150px;
  }

  .c-form__privacy .privacy__par {
    font-size: 1.4rem;
  }

  .c-form__privacy .privacy__item--title {
    font-size: 1.4rem;
    margin-bottom: .5rem;
    padding-bottom: .5rem;
  }

  .c-form__privacy .privacy__item--detial {
    font-size: 1.2rem;
  }

  .c-form__textarea {
    width: 100%;
  }

  .c-form__checkbox {
    margin-bottom: 2rem;
  }

  .c-form__submit {
    width: 280px;
  }

  .c-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
  }

  .c-list__item {
    padding: 0;
  }

  .c-list__title {
    margin: 0;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .c-list__button {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  .c-list__button .c-form__button:nth-child(1) {
    margin-bottom: 2rem;
  }

  .p-archive {
    margin: 0 auto;
  }

  .p-archive__news {
    width: 96%;
  }

  .p-archive__box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 96%;
  }

  .p-page {
    padding: 6rem 0;
  }

  .p-page__heading {
    width: 100%;
    height: auto;
    margin-bottom: 7rem;
  }

  .p-page__wrap {
    width: 100%;
  }

  .p-page__title--en {
    font-size: 1.2rem;
  }

  .p-page__copy {
    width: 90%;
  }

  .p-page__copy span {
    padding: 1rem;
  }

  .p-page__desc {
    width: 90%;
  }

  .pagination {
    font-size: 1.2rem;
  }

  .p-sectionContact__wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
  }

  .p-sectionContact__items:nth-child(1) {
    border-right: none;
    border-bottom: 1px solid #132041;
  }

  .p-sectionContact__item:nth-child(1) .p-sectionContact__icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
  }

  .p-sectionContact__item span:nth-last-child(1) {
    font-size: 3.2rem;
  }

  .p-single {
    width: 96%;
    margin: 6rem auto;
  }

  .p-single__heading {
    font-size: 1.8rem;
  }

  .p-single__content {
    font-size: 1.4rem;
  }

  .p-single__summary {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .p-single__pic {
    margin-right: 0;
  }

  .p-single__images {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .p-singleItems {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 96%;
    margin: 6rem auto;
    padding: 0;
  }

  .p-singleItems__photo {
    width: 100%;
    margin-bottom: 3rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
  }

  .p-singleItems__pic {
    width: 100%;
    height: 100%;
  }

  .p-singleItems__heading {
    font-size: 1.8rem;
  }

  .u-heading {
    top: 50%;
    width: 100%;
    height: 150px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .u-heading__title {
    margin-top: 0;
  }

  .u-heading__title--icon {
    width: 60px;
    margin: 0 auto 1rem;
  }

  .u-heading__title--en {
    font-size: 3.6rem;
    margin-bottom: .5rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .p-page {
    width: 96%;
  }
}