.l-footer {
  background: $color_primary;
  padding: 7rem 0;
  color: $white;
  &Item {
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    flex-direction: column;
    letter-spacing: .2rem;
    flex: 0 0 30%;
    &--ja {
      font-size: 3rem;
      font-weight: 700;
    }
    &--en {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }
  &__social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    span {
      &:nth-child(1) {
        margin-right: 2rem;
      }
    }
    &::after {
      content: " ";
      display: inline-block;
      width: 8px;
      height: 8px;
      margin: 0 10px;
      border-top: 2px solid $white;
      border-right: 2px solid $white;
      transform: rotate(45deg);
    }
  }
  &Nav {
    display: block;
    flex: 0 0 50%;
  }
  &Copy {
    padding: 7rem 0 2rem;
    width: 1000px;
    margin: 0 auto;
    &__item {
      color: $white;
      display: block;
      font-size: 1.2rem;
      text-align: right;
    }
  }
}


.pageTop {
  position: absolute;
  right: 8%;
  bottom: 20rem;
  z-index: 3;
  transform: rotate(90deg);
  transform-origin: right bottom;
  > a {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: $white;
    text-shadow: 0 0 5px $black;
    &::before {
      content:"";
      display: block;
      width: 8px;
      height: 8px;
      border-top: 2px solid $white;
      border-left: 2px solid $white;
      transform: rotate(-45deg);
      margin-right: .5em;
    }
    &:hover {
      opacity: .75;
    }
  }
}

@media screen and (max-width: 768px){
  .l-footer {
    padding: 5rem 0 0;
    &Item {
      width: 90%;
      flex-direction: column;
    }
    &__logo {
      margin-bottom: 5rem;
    }
    &Copy {
      width: 100%;
    }
    &__social {
      justify-content: center;
    }
  }
  .pageTop {
    bottom: 5rem;
    right: 10%;
    > a {
      &:hover {
        opacity: 1;
      }
    }
  }
}
