.p-archive {
    margin: 0 auto;
  &__item {
    margin-bottom: 5rem;
  }
}


@media screen and (max-width: 768px) {
  .p-archive {
    margin: 0 auto;
    &__news {
      width: 96%;
    }
    &__box {
      width: 96%;
      flex-direction: column;
    }
  }
}