#comments footer {
  background: none;
  margin: 0;
  color: #000000;
  font-size: 1.3rem;
  border-style: none;
}
#comments footer a {
  color: #000000
}
#comments footer div {
  display: inline;
}
#comments ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#comments article {
  border: dashed 1px #ccc;
  margin-bottom: 10px;
  padding: 10px 0 20px;
}
#comments .comment-content {
  margin-left: 30px
}
/* コメント投稿フォーム */
#respond p {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 1.2rem;
}
#respond label {
  font-size: 1.3rem;
}
#respond input, #respond textarea {
  width: 100%;
  padding: 5px;
}
#respond input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: 2px solid #a6ba00;
  color: #fff;
  background-color: #a6ba00;
  -webkit-appearance: none;
  cursor: pointer;
}
#respond input[type="submit"]:hover {
  background-color: darken( #a6ba00, 10% );
}
#respond .required {
  color: #ff0000;
}
.comment-form-cookies-consent {
  display: flex;
  align-items: center;
}
.comment-form-cookies-consent input[type="checkbox"] {
  flex: 0 0 16px;
}
.comment-form-url {
  display: none;
}
