.p-page {
  padding: 12rem 0;
  &__heading {
    height: 500px;
    width: 1000px;
    margin: 0 auto;
    position: relative;
  }
  &__title {
    position: absolute;
    top: -2.5rem;
    left: 0;
    width: 400px;
    transform: rotate(90deg);
    transform-origin: left bottom 0;
    display: flex;
    align-items: center;
    &::before {
      content: " ";
      width: 200px;
      height: 1px;
      background: $color_primary;
      display: block;
      margin-right: 1rem;
    }
    &--en {
      font-size: 1.2rem;
      font-weight: 700;
    }
  }
  &__wrap {
    padding: 12rem 0 0;
  }
  &__copy {
    width: 800px;
    margin: 0 auto 5rem;
    font-size: 3.2rem;
    position: relative;
    span {
      display: block;
      margin: 0 auto;
      padding: 3rem;
      text-align: center;
    }
    &::before, &::after {
      content: '';
      width: 30px;
      height: 30px;
      position: absolute;
    }
    &::before {
      border-left: solid 2px $color_primary;
      border-top: solid 2px $color_primary;
      top: 0;
      left: 0;
    }
    &::after {
      border-right: solid 2px $color_primary;
      border-bottom: solid 2px $color_primary;
      bottom: 0;
      right: 0;
    }
  }
  &__desc {
    width: 800px;
    margin: 0 auto;
  }
}
.pagination {
  list-style: none;
  color: $text_secondary;
  display: flex;
  justify-content: center;
  padding: 0;
  > li {
    margin: 0 .5em;
    > a {
      border: 1px solid $color_secondary;
      color: $text_secondary;
      padding: .2em .5em;
      text-decoration: none;
      display: inline-block;
      transition-duration: .3s;
      transition-property: transform;
      &:hover {
        transform: scale(1.1);
      }
    }
    &.current > a {
      background: $color_tertiary;
      border: 1px solid $color_tertiary;
      color: $white;
    }
    &.first > a, &.last > a {
      background: $color_secondary;
      color: $white;
    }
  }
}

@media screen and (max-width: 768px) {
  .p-page {
    padding: 6rem 0;
    &__heading {
      width: 100%;
      height: auto;
      margin-bottom: 7rem;
    }
    &__wrap {
      width: 100%;
    }
    &__title {
      &--en {
        font-size: 1.2rem;
      }
    }
    &__copy {
      width: 90%;
      span {
        padding: 1rem;
      }
    }
    &__desc {
      width: 90%;
    }
  }
  .pagination {
    font-size: 1.2rem;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  .p-page {
    width: 96%;
  }
}
